[submodule "Libraries/cocos2d-iphone"]
	path = Libraries/cocos2d-iphone
	url = https://github.com/cocos2d/cocos2d-iphone
[submodule "Libraries/rekit"]
	path = Libraries/rekit
	url = https://github.com/zuccoi/REKit
[submodule "Libraries/objc-simple-bindings"]
	path = Libraries/objc-simple-bindings
	url = https://github.com/mruegenberg/objc-simple-bindings
[submodule "Libraries/rube-b2djson"]
	path = Libraries/rube-b2djson
	url = https://github.com/iforce2d/b2dJson
[submodule "Libraries/box2d"]
	path = Libraries/box2d
	url = https://github.com/ansman/box2d
[submodule "Libraries/chdatastructures"]
	path = Libraries/chdatastructures
	url = https://github.com/davedelong/CHDataStructures
