// Common Frameworks & Libraries
FW_ZLib = -lz
FW_AudioToolbox = -framework AudioToolbox
FW_Foundation = -framework Foundation
FW_OpenAL = -framework OpenAL
FW_QuartzCore = -framework QuartzCore

FW_COMMON = $(FW_ZLib) $(FW_Foundation) $(FW_AudioToolbox) $(FW_OpenAL) $(FW_QuartzCore)


// iOS Frameworks
FW_SysConfig = -framework SystemConfiguration
FW_AVFoundation = -framework AVFoundation
FW_CoreGraphics = -framework CoreGraphics
FW_CoreText = -framework CoreText
FW_CoreLocation = -framework CoreLocation
FW_MediaPlayer = -framework MediaPlayer
FW_OpenGLES = -framework OpenGLES

FORCE_LOAD_COCOS2D = -force_load "$(BUILT_PRODUCTS_DIR)/libcocos2d.a"
// causes CCAsyncObject undefined symbol linker error when uncommented
//FORCE_LOAD_COCOS2D_EXTENSIONS = -force_load "$(BUILT_PRODUCTS_DIR)/libcocos2d-extensions-ios.a"
FORCE_LOAD_LN_ADDITIONS = -force_load "$(BUILT_PRODUCTS_DIR)/libln-additions.a"
FORCE_LOAD_REKIT = -force_load "$(BUILT_PRODUCTS_DIR)/librekit.a"
FORCE_LOAD_SIMPLE_BINDINGS = -force_load "$(BUILT_PRODUCTS_DIR)/libobjc-simple-bindings.a"
FORCE_LOAD_AQTOOLKIT = -force_load "$(BUILT_PRODUCTS_DIR)/libaqtoolkit.a"
FORCE_LOAD_JRSWIZZLE = -force_load "$(BUILT_PRODUCTS_DIR)/libjrswizzle.a"
// force loading ccbreader as it contains a few categories
FORCE_LOAD_CCBREADER = -force_load "$(BUILT_PRODUCTS_DIR)/libCocosBuilderReader.a"

FW_IOS = $(FW_SysConfig) $(FW_AVFoundation) $(FW_CoreGraphics) $(FW_CoreText) $(FW_CoreLocation) $(FW_MediaPlayer) $(FW_OpenGLES) $(FORCE_LOAD_COCOS2D) $(FORCE_LOAD_LN_ADDITIONS) $(FORCE_LOAD_REKIT) $(FORCE_LOAD_SIMPLE_BINDINGS) $(FORCE_LOAD_AQTOOLKIT) $(FORCE_LOAD_JRSWIZZLE) $(FORCE_LOAD_CCBREADER)


// iOS Weak Frameworks
FW_CoreMotion = -weak_framework CoreMotion
FW_GameKit = -weak_framework GameKit
FW_iAd = -weak_framework iAd
FW_MessageUI = -weak_framework MessageUI
FW_StoreKit = -weak_framework StoreKit
FW_UIKit = -weak_framework UIKit	// Weak linking to UIKit prevents crash on iOS < 3.2 due to UIGestureRecognizer
FW_System = -weak-lSystem			// Weak linking to System prevents crash on iOS < 4.0 due to blocks

FW_IOS_WEAK = $(FW_CoreMotion) $(FW_GameKit) $(FW_iAd) $(FW_MessageUI) $(FW_StoreKit) $(FW_UIKit) $(FW_System)


// Mac Frameworks
FW_AppKit = -framework AppKit
FW_ApplicationServices = -framework ApplicationServices
FW_Cocoa = -framework Cocoa
FW_CoreAudio = -framework CoreAudio
FW_CoreAudioKit = -framework CoreAudioKit 
FW_OpenGL = -framework OpenGL
FW_QTKit = -framework QTKit

FW_MAC = $(FW_AppKit) $(FW_ApplicationServices) $(FW_Cocoa) $(FW_CoreAudio) $(FW_CoreAudioKit) $(FW_OpenGL) $(FW_QTKit)


// all frameworks together
FRAMEWORKS_IOS = $(FW_COMMON) $(FW_IOS) $(FW_IOS_WEAK) -lstdc++
FRAMEWORKS_MAC = $(FW_COMMON) $(FW_MAC) -ObjC -lstdc++
