LIBROOT="$(SOURCE_ROOT)"/../LN2D-Libraries/Libraries

COCOS2DLIB=$(LIBROOT)/cocos2d-iphone
COCOS2D=$(COCOS2DLIB)/cocos2d $(COCOS2DLIB)/external/kazmath/include $(COCOS2DLIB)/cocos2d/Platforms
REKIT=$(LIBROOT)/rekit/REKit
OBJC_SIMPLE_BINDINGS=$(LIBROOT)/objc-simple-bindings
LN_ADDITIONS=$(LIBROOT)/ln-additions/**
RUBE=$(LIBROOT)/rube-b2djson/c++
BOX2D=$(LIBROOT)/box2d

USER_HEADER_SEARCH_PATHS = $(COCOS2D) $(REKIT) $(OBJC_SIMPLE_BINDINGS) $(LN_ADDITIONS) $(RUBE) $(BOX2D)
ALWAYS_SEARCH_USER_PATHS = YES