LIBROOT="$(SOURCE_ROOT)"/../LN2D-Libraries/Libraries

COCOS2D=$(LIBROOT)/cocos2d-iphone/**
REKIT=$(LIBROOT)/rekit/REKit
OBJC_SIMPLE_BINDINGS=$(LIBROOT)/objc-simple-bindings
LN_ADDITIONS=$(LIBROOT)/ln-additions/**

USER_HEADER_SEARCH_PATHS = $(COCOS2D) $(REKIT) $(OBJC_SIMPLE_BINDINGS) $(LN_ADDITIONS)
ALWAYS_SEARCH_USER_PATHS = YES